<!doctype html> 
<html lang="en">
<head>
	<title><%= @title || "Flight Weather" %></title>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
<h1>Flight Weather</h1> <nav>


<ul> <li><a href="/" title="Home">Home</a></li> <li><a href="/about" title="About">About</a></li>
</ul> 

</nav>
</header> <section>

<%= yield %> </section>
</body> </html>











